<% if flash[:notice] %>
  <div
    class="absolute h-14 w-full bg-blue-500 -bottom-14 right-0 flex items-center justify-center z-50"
  >
    <p class="text-gray-100 font-bold text-lg">
      &#128276; <%= flash[:notice] %>
    </p>
  </div>
<% end %>
