<div class='p-7 h-screen'>
  <div class='h-1/6 flex flex-row justify-between items-center p-5'>
    <div class='text-3xl'>Dashboard</div>
    <div class='p-3 text-center border border-black rounded-xl font-bold'>Add</div>
  </div>
  <div class='h-1/6 flex flex-row justify-between p-5 text-center font-bold h-full content-center'>
    <div class='flex items-center justify-center m-4 border border-black rounded-xl w-2/6 content-center'><%= @users.count %><br>Total Users</div>
    <div class='flex items-center justify-center m-4 border border-black rounded-xl w-2/6'> Pending Users  </div>
    <div class='flex items-center justify-center m-4 border border-black rounded-xl w-2/6'> Total Money </div>
    <div class='flex items-center justify-center m-4 border border-black rounded-xl w-2/6'> Total Transactions </div>
  </div>
  <div class='h-4/6 flex flex-row '>
    <div class='p-5 m-4 border border-black rounded-xl w-3/4 font-bold'> New Users </div>
    <div class='p-5 m-4 border border-black rounded-xl w-1/4 font-bold'> Latest Transactions </div>
  </div>

</div>