<div class='p-7 h-screen'>
  <div class='h-1/6 flex flex-row justify-between items-center p-5'>
    <div class='text-3xl'>Transactions</div>
    <div class='flex flex-row justify-between items-center'>
      <div class='px-5'>Search</div>
      <div class='p-3 text-center border border-black rounded-xl font-bold'>Add</div>
    </div>
  </div>
  <div class='flex flex-col'>

  </div>
</div>