<div class='p-7 h-screen'>
  <div class='h-1/6 flex flex-row justify-between items-center p-5'>
    <div class='text-3xl font-bold'>Transactions</div>
    <div class='p-3 text-center border-2 border-black rounded-xl font-bold'><%= link_to 'Add', new_trader_path %></div>
  </div>
  <div class='flex flex-col'>
  </div>
</div>