<div class="w-[90%] h-[90%] bg-gray-50 flex flex-col">
  <div class="h-24 flex items-end bg-gray-800">
    <div class="bg-gray-50 h-full flex-1 relative p-4">
      <div
        class="absolute bg-gray-800 -top-7 -right-7 origin-[50%_50%] rotate-45 w-14 h-14"
      ></div>
      <h2 class="text-4xl font-bold text-gray-900">Portfolio</h2>
    </div>
    <div class="bg-gray-50 h-3/5 w-5/12"></div>
  </div>

  <div class="h-16 bg-gray-50 border-t-2 border-b-2 flex">
    <h1 class="flex-1 flex items-center px-4 text-2xl text-gray-700 font-light">Stocks (69)</h1>
    <button class="flex gap-4 items-center justify-center bg-gray-700 text-gray-100 text-lg px-2 font-semibold">
      <p>Buy new Stock</p>
      <span>&plus;</span>
    </button>
  </div>

  <div class="flex-1 bg-gray-50 flex flex-col">
    <table class="w-full text-sm text-left text-gray-500 flex-1">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Ticker
                </th>
                <th scope="col" class="px-6 py-3">
                    Ticker Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Type
                </th>
                <th scope="col" class="px-6 py-3">
                    Shares
                </th>
                <th scope="col" class="px-6 py-3">
                    Cost
                </th>
                <th scope="col" class="px-6 py-3">
                    Cost/Share
                </th>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Sell</span>
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Buy More</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                  TSLA
                </th>
                <td class="px-6 py-4">
                  Tesla Motors
                </td>
                <td class="px-6 py-4">
                  Buy
                </td>
                <td class="px-6 py-4">
                  0.69
                </td>
                <td class="px-6 py-4">
                  $420
                </td>
                <td class="px-6 py-4">
                  $420.69
                </td>
                <td class="px-6 py-4">
                  06/25/22
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 hover:underline">Sell</a>
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 hover:underline">Buy More</a>
                </td>
            </tr>

            <tr class="bg-white border-b ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                  TSLA
                </th>
                <td class="px-6 py-4">
                  Tesla Motors
                </td>
                <td class="px-6 py-4">
                  Buy
                </td>
                <td class="px-6 py-4">
                  0.69
                </td>
                <td class="px-6 py-4">
                  $420
                </td>
                <td class="px-6 py-4">
                  $420.69
                </td>
                <td class="px-6 py-4">
                  06/25/22
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 hover:underline">Sell</a>
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 hover:underline">Buy More</a>
                </td>
            </tr>

            <tr class="bg-white border-b ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                  TSLA
                </th>
                <td class="px-6 py-4">
                  Tesla Motors
                </td>
                <td class="px-6 py-4">
                  Buy
                </td>
                <td class="px-6 py-4">
                  0.69
                </td>
                <td class="px-6 py-4">
                  $420
                </td>
                <td class="px-6 py-4">
                  $420.69
                </td>
                <td class="px-6 py-4">
                  06/25/22
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 hover:underline">Sell</a>
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 hover:underline">Buy More</a>
                </td>
            </tr>

            <tr class="bg-white border-b ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                  TSLA
                </th>
                <td class="px-6 py-4">
                  Tesla Motors
                </td>
                <td class="px-6 py-4">
                  Buy
                </td>
                <td class="px-6 py-4">
                  0.69
                </td>
                <td class="px-6 py-4">
                  $420
                </td>
                <td class="px-6 py-4">
                  $420.69
                </td>
                <td class="px-6 py-4">
                  06/25/22
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 hover:underline">Sell</a>
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 hover:underline">Buy More</a>
                </td>
            </tr>

            <tr class="bg-white border-b ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                  TSLA
                </th>
                <td class="px-6 py-4">
                  Tesla Motors
                </td>
                <td class="px-6 py-4">
                  Buy
                </td>
                <td class="px-6 py-4">
                  0.69
                </td>
                <td class="px-6 py-4">
                  $420
                </td>
                <td class="px-6 py-4">
                  $420.69
                </td>
                <td class="px-6 py-4">
                  06/25/22
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 hover:underline">Sell</a>
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 hover:underline">Buy More</a>
                </td>
            </tr>

            <tr class="bg-white border-b ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                  TSLA
                </th>
                <td class="px-6 py-4">
                  Tesla Motors
                </td>
                <td class="px-6 py-4">
                  Buy
                </td>
                <td class="px-6 py-4">
                  0.69
                </td>
                <td class="px-6 py-4">
                  $420
                </td>
                <td class="px-6 py-4">
                  $420.69
                </td>
                <td class="px-6 py-4">
                  06/25/22
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 hover:underline">Sell</a>
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 hover:underline">Buy More</a>
                </td>
            </tr>

            <tr class="bg-white border-b ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                  TSLA
                </th>
                <td class="px-6 py-4">
                  Tesla Motors
                </td>
                <td class="px-6 py-4">
                  Buy
                </td>
                <td class="px-6 py-4">
                  0.69
                </td>
                <td class="px-6 py-4">
                  $420
                </td>
                <td class="px-6 py-4">
                  $420.69
                </td>
                <td class="px-6 py-4">
                  06/25/22
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 hover:underline">Sell</a>
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 hover:underline">Buy More</a>
                </td>
            </tr>

            <tr class="bg-white border-b ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                  TSLA
                </th>
                <td class="px-6 py-4">
                  Tesla Motors
                </td>
                <td class="px-6 py-4">
                  Buy
                </td>
                <td class="px-6 py-4">
                  0.69
                </td>
                <td class="px-6 py-4">
                  $420
                </td>
                <td class="px-6 py-4">
                  $420.69
                </td>
                <td class="px-6 py-4">
                  06/25/22
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 hover:underline">Sell</a>
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 hover:underline">Buy More</a>
                </td>
            </tr>

            <tr class="bg-white border-b ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                  TSLA
                </th>
                <td class="px-6 py-4">
                  Tesla Motors
                </td>
                <td class="px-6 py-4">
                  Buy
                </td>
                <td class="px-6 py-4">
                  0.69
                </td>
                <td class="px-6 py-4">
                  $420
                </td>
                <td class="px-6 py-4">
                  $420.69
                </td>
                <td class="px-6 py-4">
                  06/25/22
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 hover:underline">Sell</a>
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 hover:underline">Buy More</a>
                </td>
            </tr>

            <tr class="bg-white border-b ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                  TSLA
                </th>
                <td class="px-6 py-4">
                  Tesla Motors
                </td>
                <td class="px-6 py-4">
                  Buy
                </td>
                <td class="px-6 py-4">
                  0.69
                </td>
                <td class="px-6 py-4">
                  $420
                </td>
                <td class="px-6 py-4">
                  $420.69
                </td>
                <td class="px-6 py-4">
                  06/25/22
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 hover:underline">Sell</a>
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 hover:underline">Buy More</a>
                </td>
            </tr>

        </tbody>
    </table>
    <div class="flex h-16">
      <div class="flex-1 flex items-center p-4">
        <p class="text-gray-400 text-lg font-medium">1-10 of 17 items</p>
      </div>
      <div class="flex items-center p-4">
        <p class="text-gray-400 text-lg font-medium">1 of 2 pages</p>
      </div>
      <button class="flex items-center justify-center px-10 bg-gray-700 text-gray-200 text-2xl border border-gray-200">&larr;</button>
      <button class="flex items-center justify-center px-10 bg-gray-700 text-gray-200 text-2xl border border-gray-200">&rarr;</button>
    </div>
  </div>
</div>
