<div class='flex flex-col justify-center items bg-white w-5/6 h-5/6 bg-gradient-to-r from-cyan-500 to-blue-500'>
<div class='p-10 w-full flex flex-col justify-center items-center'>
  <div><img class='h-96 w-96' src="https://img.freepik.com/free-vector/raining-concept-illustration_114360-4054.jpg?w=740&t=st=1657532210~exp=1657532810~hmac=04b8de158163a41579e62b031f094f6fcd58891b84900273a83b1034be543059"></div>
  <div class='font-bold text-5xl py-4'> Sorry </div>
  <div class='text-xl pt-4'> We are still waiting for the admin to approve your account! </div>
  <div class='text-xl'> We'll let you know once your account has been approved. </div>
  <div class='text-xl'> Come back once your account has been approved! </div>
</div>

</div>