<div class='flex flex-col justify-center items bg-white w-5/6 h-5/6'>
<div><img class='h-28 w-28' src="https://img.freepik.com/free-vector/raining-concept-illustration_114360-4054.jpg?w=740&t=st=1657532210~exp=1657532810~hmac=04b8de158163a41579e62b031f094f6fcd58891b84900273a83b1034be543059"></div>
<div> Sorry </div>
<div> We are still waiting for the admin to approve your account! </div>
<div> We'll let you know once your account has been approved. </div>
<div> Come back once your account has been approved! </div>

</div>