<div class="w-[90%] h-[90%] bg-gray-50 flex flex-col justify-between">
  <div class="h-24 flex items-end bg-gray-800">
    <div class="bg-gray-50 h-full flex-1 relative p-4">
      <div
        class="absolute bg-gray-800 -top-7 -right-7 origin-[50%_50%] rotate-45 w-14 h-14"
      ></div>
      <h2 class="text-4xl font-bold text-gray-900">Wallet</h2>
    </div>
    <div class="bg-gray-50 h-3/5 w-5/12"></div>
  </div>

  <div class="h-16 bg-gray-50 border-t-2 border-b-2 flex">
    <h1 class="flex-1 flex items-center px-4 text-2xl text-gray-700 font-light">Balance: $40,000,000</h1>
    <button class="flex gap-4 items-center justify-center bg-gray-700 text-gray-100 text-lg px-2 font-semibold">
      <p>Add Balance</p>
      <span>&plus;</span>
    </button>
  </div>

  <div class="bg-gray-50 flex-1">
    <div class='p-5 font-bold'>Latest Transactions</div>
    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-center text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">
                    From
                </th>
                <th scope="col" class="px-6 py-3">
                    Amount
                </th>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
            </tr>
        </thead>
        <tbody>
          
        </tbody>
    </table>
  </div>
</div>
