<div class="w-full h-full flex flex-col p-4 gap-4">
  <div class="h-[820px] bg-gray-50 flex flex-col rounded-lg">
    <div class="bg-gray-900 flex items-center justify-between p-4">
      <form>
        <input
          class="p-1 rounded-md"
          type="text"
          name="search"
          placeholder="AAPL or Apple"
        />
        <button type="submit" class="bg-gray-100 rounded-md p-1">Search</button>
      </form>
      <div class="flex gap-2">
        <button class="bg-gray-200 rounded-md text-grayj-900 p-2 font-bold">
          Most Recent
        </button>
        <button class="bg-gray-200 rounded-md text-grayj-900 p-2 font-bold">
          Gainers
        </button>
        <button class="bg-gray-200 rounded-md text-grayj-900 p-2 font-bold">
          Losers
        </button>
      </div>
    </div>
    <div class="w-full text-left text-gray-500 overflow-y-scroll flex-1">
      <table class="text-sm w-full">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3">Ticker</th>
            <th scope="col" class="px-6 py-3">Ticker Name</th>
            <th scope="col" class="px-6 py-3">Type</th>
            <th scope="col" class="px-6 py-3">Shares</th>
            <th scope="col" class="px-6 py-3">Cost</th>
            <th scope="col" class="px-6 py-3">Cost/Share</th>
            <th scope="col" class="px-6 py-3">Date</th>
          </tr>
        </thead>

        <tbody>
          <tr class="bg-white border-b">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
            >
              TSLA
            </th>
            <td class="px-6 py-4">Tesla Motors</td>
            <td class="px-6 py-4">Buy</td>
            <td class="px-6 py-4">0.69</td>
            <td class="px-6 py-4">$420</td>
            <td class="px-6 py-4">$420.69</td>
            <td class="px-6 py-4">06/25/22</td>
          </tr>

          <tr class="bg-white border-b">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
            >
              TSLA
            </th>
            <td class="px-6 py-4">Tesla Motors</td>
            <td class="px-6 py-4">Buy</td>
            <td class="px-6 py-4">0.69</td>
            <td class="px-6 py-4">$420</td>
            <td class="px-6 py-4">$420.69</td>
            <td class="px-6 py-4">06/25/22</td>
          </tr>

          <tr class="bg-white border-b">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
            >
              TSLA
            </th>
            <td class="px-6 py-4">Tesla Motors</td>
            <td class="px-6 py-4">Buy</td>
            <td class="px-6 py-4">0.69</td>
            <td class="px-6 py-4">$420</td>
            <td class="px-6 py-4">$420.69</td>
            <td class="px-6 py-4">06/25/22</td>
          </tr>

          <tr class="bg-white border-b">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
            >
              TSLA
            </th>
            <td class="px-6 py-4">Tesla Motors</td>
            <td class="px-6 py-4">Buy</td>
            <td class="px-6 py-4">0.69</td>
            <td class="px-6 py-4">$420</td>
            <td class="px-6 py-4">$420.69</td>
            <td class="px-6 py-4">06/25/22</td>
          </tr>

          <tr class="bg-white border-b">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
            >
              TSLA
            </th>
            <td class="px-6 py-4">Tesla Motors</td>
            <td class="px-6 py-4">Buy</td>
            <td class="px-6 py-4">0.69</td>
            <td class="px-6 py-4">$420</td>
            <td class="px-6 py-4">$420.69</td>
            <td class="px-6 py-4">06/25/22</td>
          </tr>

          <tr class="bg-white border-b">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
            >
              TSLA
            </th>
            <td class="px-6 py-4">Tesla Motors</td>
            <td class="px-6 py-4">Buy</td>
            <td class="px-6 py-4">0.69</td>
            <td class="px-6 py-4">$420</td>
            <td class="px-6 py-4">$420.69</td>
            <td class="px-6 py-4">06/25/22</td>
          </tr>

          <tr class="bg-white border-b">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
            >
              TSLA
            </th>
            <td class="px-6 py-4">Tesla Motors</td>
            <td class="px-6 py-4">Buy</td>
            <td class="px-6 py-4">0.69</td>
            <td class="px-6 py-4">$420</td>
            <td class="px-6 py-4">$420.69</td>
            <td class="px-6 py-4">06/25/22</td>
          </tr>

          <tr class="bg-white border-b">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
            >
              TSLA
            </th>
            <td class="px-6 py-4">Tesla Motors</td>
            <td class="px-6 py-4">Buy</td>
            <td class="px-6 py-4">0.69</td>
            <td class="px-6 py-4">$420</td>
            <td class="px-6 py-4">$420.69</td>
            <td class="px-6 py-4">06/25/22</td>
          </tr>

          <tr class="bg-white border-b">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
            >
              TSLA
            </th>
            <td class="px-6 py-4">Tesla Motors</td>
            <td class="px-6 py-4">Buy</td>
            <td class="px-6 py-4">0.69</td>
            <td class="px-6 py-4">$420</td>
            <td class="px-6 py-4">$420.69</td>
            <td class="px-6 py-4">06/25/22</td>
          </tr>

          <tr class="bg-white border-b">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
            >
              TSLA
            </th>
            <td class="px-6 py-4">Tesla Motors</td>
            <td class="px-6 py-4">Buy</td>
            <td class="px-6 py-4">0.69</td>
            <td class="px-6 py-4">$420</td>
            <td class="px-6 py-4">$420.69</td>
            <td class="px-6 py-4">06/25/22</td>
          </tr>

          <tr class="bg-white border-b">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
            >
              TSLA
            </th>
            <td class="px-6 py-4">Tesla Motors</td>
            <td class="px-6 py-4">Buy</td>
            <td class="px-6 py-4">0.69</td>
            <td class="px-6 py-4">$420</td>
            <td class="px-6 py-4">$420.69</td>
            <td class="px-6 py-4">06/25/22</td>
          </tr>

          <tr class="bg-white border-b">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
            >
              TSLA
            </th>
            <td class="px-6 py-4">Tesla Motors</td>
            <td class="px-6 py-4">Buy</td>
            <td class="px-6 py-4">0.69</td>
            <td class="px-6 py-4">$420</td>
            <td class="px-6 py-4">$420.69</td>
            <td class="px-6 py-4">06/25/22</td>
          </tr>

          <tr class="bg-white border-b">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
            >
              TSLA
            </th>
            <td class="px-6 py-4">Tesla Motors</td>
            <td class="px-6 py-4">Buy</td>
            <td class="px-6 py-4">0.69</td>
            <td class="px-6 py-4">$420</td>
            <td class="px-6 py-4">$420.69</td>
            <td class="px-6 py-4">06/25/22</td>
          </tr>

          <tr class="bg-white border-b">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
            >
              TSLA
            </th>
            <td class="px-6 py-4">Tesla Motors</td>
            <td class="px-6 py-4">Buy</td>
            <td class="px-6 py-4">0.69</td>
            <td class="px-6 py-4">$420</td>
            <td class="px-6 py-4">$420.69</td>
            <td class="px-6 py-4">06/25/22</td>
          </tr>

          <tr class="bg-white border-b">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
            >
              TSLA
            </th>
            <td class="px-6 py-4">Tesla Motors</td>
            <td class="px-6 py-4">Buy</td>
            <td class="px-6 py-4">0.69</td>
            <td class="px-6 py-4">$420</td>
            <td class="px-6 py-4">$420.69</td>
            <td class="px-6 py-4">06/25/22</td>
          </tr>

          <tr class="bg-white border-b">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
            >
              TSLA
            </th>
            <td class="px-6 py-4">Tesla Motors</td>
            <td class="px-6 py-4">Buy</td>
            <td class="px-6 py-4">0.69</td>
            <td class="px-6 py-4">$420</td>
            <td class="px-6 py-4">$420.69</td>
            <td class="px-6 py-4">06/25/22</td>
          </tr>

          <tr class="bg-white border-b">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
            >
              TSLA
            </th>
            <td class="px-6 py-4">Tesla Motors</td>
            <td class="px-6 py-4">Buy</td>
            <td class="px-6 py-4">0.69</td>
            <td class="px-6 py-4">$420</td>
            <td class="px-6 py-4">$420.69</td>
            <td class="px-6 py-4">06/25/22</td>
          </tr>

          <tr class="bg-white border-b">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
            >
              TSLA
            </th>
            <td class="px-6 py-4">Tesla Motors</td>
            <td class="px-6 py-4">Buy</td>
            <td class="px-6 py-4">0.69</td>
            <td class="px-6 py-4">$420</td>
            <td class="px-6 py-4">$420.69</td>
            <td class="px-6 py-4">06/25/22</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
